
<header>
<h1>Dinosaurs</h1>
<nav>
  <a href="https://nu.nl">Home</a>
</header>

<main>
  <h3> The following dinosaurs were found in the valley</h3>

<% @dinosaurs.each do |dinosaur| %>
  <p><%= dinosaur.name %></p>
<% end %>

</main>
<br />
<br />
<br />
<footer> Made by me </footer>
